.hangman-letters button {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  margin: 5px;
}
.correct-letter {
  background-color: green;
}
.wrong-letter {
  background-color: red;
}
.hangman-word {
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-size: 2em;
}
body {
  text-align: center;
}
.reset-button {
  position: absolute;
  height: 200px;
  width: 200px;
  font-size: 2em;
  background-color: rgba(48, 17, 17, 0.3);
  border: 0px;
  border-radius: 10px;
  top: 10%;
  left: 10%;
  color: white;
}
.reset-button:hover {
  background-color: rgba(48, 17, 17, 0.7);
}
